@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html[data-theme='dark'] {
  --color: rgb(250, 250, 250);
  --background-color: rgb(5, 5, 5);
  --secondary-color: rgb(250, 250, 250);
}
html[data-theme='light'] {
  --color: rgb(5, 5, 5);
  --background-color: rgb(250, 250, 250);
  --secondary-color: rgb(5, 5, 5);
}

* {
  font-size: 1em;
  background: var(--background-color);
  color: var(--color);
  font-family: 'Press Start 2P', cursive;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
