@import url('https://fontlibrary.org/face/8bit-wonder');
html[data-theme='dark'] {
  --color: rgb(250, 250, 250);
  --background-color: rgb(5, 5, 5);
  --secondary-color: rgb(250, 250, 250);
}
html[data-theme='light'] {
  --color: rgb(5, 5, 5);
  --background-color: rgb(250, 250, 250);
  --secondary-color: rgb(5, 5, 5);
}

%basic-div {
  border-radius: 10px;
  padding: 0.5em;
}

* {
  background: var(--background-color);
  color: var(--color);
  font-family: '8BITWONDERNominal';
  font-weight: normal;
  font-style: normal;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
