@import '../app.scss';

.form-text-input {
  @extend %basic-div;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 0.5em;
}

.signup-color {
  display: inline-block;
}

.success-text {
  @extend %basic-div;
}
